@model IEnumerable<band_catalogue.Models.Band>

<h2>Bands</h2>

<table class="table">
    <thead>
        <tr>
            <th>Band Name</th>
            <th>Genre</th>
            <th>Country</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.BandName, "Details", new { id = item.BandId })
                </td>
                <td>@item.Genre</td>
                <td>@item.Country</td>
                <td>@item.FormedYear</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BandId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.BandId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.BandId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Add New Band</a>